/* Styles go here for the Users */

.field_with_errors {
  display: inline;
  padding: 2px;
  background-color: red;
}

.success {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: green;
}
